<%- include("../partials/header") %>
<%- include("../partials/banner") %>
<%- include("../partials/alert") %>
<div class="container">
    <% if(searchKey != null && searchKey != ''){ %>
        <p class="mt-4 text-secondary h2">
            Search results for '<%= searchKey %>'
            <span class='float-right'><%= searchResult %> items</span>
        </p>
    <% } %>
  <div class="card-columns mt-4">
        <% campgrounds.forEach(function(campground) { %>
            <div>
                <div class="card mb-3">
                    <img src=" <%= campground.image %>" class="card-img-top img-resize">
                    <div class="card-body">
                        <h6 class="card-title"><%= campground.name %></h6>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-sm btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<style type="text/css">
    footer{
        margin-top: 3em;
    }
</style>
<%- include("../partials/footer") %>