<%- include("../partials/header") %>
<%- include("../partials/banner") %>
<%- include("../partials/alert") %>
<div class="container">
    <% if(searchKey != null && searchKey != ''){ %>
        <p class="mt-4 text-secondary h2">
            Search results for '<%= searchKey %>'
            <span class='float-right'><%= searchResult %> items</span>
        </p>
    <% } %>
  <div class="card-columns mt-4">
        <% campgrounds.forEach(function(campground) { %>
            <div>
                <div class="card shadow mb-4">
                    <a href="/campgrounds/<%= campground._id %>">
                        <img src=" <%= campground.image %>" class="card-img-top img-resize">
                    </a>
                    <div class="card-body">
                        <a href="/campgrounds/<%= campground._id %>" 
                        class="lead card-title text-dark">
                        <%= campground.name %></a>
                        <span class="text-secondary float-right">
                        <% if(campground.price == 0 || campground.price == null){ %>
                            Free
                        <% } else { %>
                        ₱<%= campground.price.toFixed(2) %></h5>
                        <% } %>
                        </span>
                        <% if(campground.rateAvg != null && campground.rateAvg != 0){ %>
                            <p class="mt-1 mb-0 text-primary">
                                <% var avg = Math.round(campground.rateAvg) %>
                                <% for(var i=0; i<avg; i++){ %>
                                    <i class="fas fa-star"></i>
                                <% } %>
                                <% var rem = 5 - avg %> 
                                <% for(var i=0; i<rem; i++){ %>
                                    <i class="far fa-star"></i>
                                <% } %>
                                <span class="text-secondary"><%= campground.rateCount %>
                                    <% if(campground.rateCount > 1){ %>
                                        Reviews
                                    <% } else{ %>
                                        Review
                                    <% } %> 
                                </span>
                            </p>
                        <% } else{ %>
                            <p class="mt-1 mb-0 text-secondary">No Reviews Yet</p>
                        <% } %> 
                        
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<style type="text/css">
    footer{
        margin-top: 3em;
    }
</style>
<%- include("../partials/footer") %>