<%- include("../partials/header") %>
<%- include("../partials/alert") %>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <p class="lead text-center"><%= campground.name %></p>
            <div class="card shadow mb-4">
                <div class="card-header">
                    <i class="fa fa-calendar-alt"></i>
                    Booking Window
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= campground.starting %> - <%= campground.ending %></li>
                </ul>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header">
                    <i class="fa fa-smile"></i>
                    Amenities
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <% if(campground.amenities == ''){ %>
                            <span class="text-secondary">not specified</span>
                        <%} else %>
                            <%= campground.amenities %>
                    </li>
                </ul>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header">
                    <i class="fa fa-phone"></i>
                    Contact
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><%= campground.contact %></li>
                </ul>
            </div>
            <div class="card mb-4 shadow">
                <div class="mt-0 card-header">
                    <i class="fas fa-map-marked-alt"></i>
                    Location
                </div>
                <div class="mb-0 pb-0" style="overflow:hidden;background:none!important;height:300px;">
                    <iframe class="card-img" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=<%= campground.location %>&t=&z=9&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    
                </div>
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= campground.location %></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top" src="<%= campground.image %>">
                <div class="card-body p-3">
                    
                    <h5 class="card-title float-right">
                        <% if(campground.price == 0 || campground.price == null){ %>
                            Free
                        <% } else { %>
                        ₱<%= campground.price.toFixed(2) %>/night
                        <% } %>
                    </h5>
                    <h4 class="card-title float-left"><a href=""><%= campground.name %></a></h4>
                    <p class="card-text float-left" style="text-indent: 50px;"><%= campground.description %></p>
                    <p class="card-text float-left">
                        <em>Submitted by <%= campground.author.username %></em>
            
                </div>
                <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                    <div class="mb-3 ml-auto form-inline mr-3">
                        <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
                        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="ml-2 btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>
            </div>
            <div class="card mt-3 mb-3 bg-light">
                <div class="card-header">
                    <button class="btn btn-success float-right" type="button" data-toggle="collapse" data-target="#collapseComment" aria-controls="collapseComment" aria-expanded="false" aria-label="Toggle navigation">
                        Leave a Review
                    </button>
                </div>
                <div class="collapse card-body" id="collapseComment">
                    <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                        <textarea id="comment" class="form-control" name="text"></textarea>
                        <p class="mb-0 mt-2"><span class="d-none d-md-inline">Rating:</span>
                            <span class="text-primary">
                                <i class="far fa-star" id="star1"></i>
                                <i class="far fa-star" id="star2"></i>
                                <i class="far fa-star" id="star3"></i>
                                <i class="far fa-star" id="star4"></i>
                                <i class="far fa-star" id="star5"></i>
                            </span>
                            <span class="ml-2 text-secondary">
                            <input name="rating" id="starId" style="display:none;width:10px" type="text">
                            </span>
                            <span id="Reset" class="ml-2 btn btn-sm float-right btn-secondary">Reset</span>
                            <button class="btn btn-sm float-right btn-primary">Submit</button>
                        </p>
                    </form>
                </div>
                <ul class="list-group list-group-flush">
                    <% campground.comments.forEach(function (comment) { %>
                        <li class="list-group-item">
                            <p class="m-0">
                                <strong class="mr-1"><%= comment.author.username %></strong>
                                <span class="float-right text-secondary" style="font-size: 15px !important;">10 days ago</span>
                                <span class="text-primary d-block d-md-inline">
                                    <% for(var i=0; i<comment.rating; i++){ %>
                                        <i class="fas fa-star"></i>
                                    <% } %>
                                    <% var rem = 5 - comment.rating %> 
                                    <% for(var i=0; i<rem; i++){ %>
                                        <i class="far fa-star"></i>
                                    <% } %>
                                </span>
                            </p>
                            
                            <p class="float-left mt-2 mb-0"><%= comment.text %></p>
                            
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <div class="float-right mb-2 mt-0">
                                    <button class="btn btn-sm float-left" type="button" data-toggle="collapse" data-target="#collapseEdit" aria-controls="collapseEdit" aria-expanded="false" aria-label="Toggle navigation">
                                        <i class="far fa-edit"></i></button>
                                    <form class="float-left ml-2" 
                                    action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm">
                                            <i class="fas fa-trash-alt"></i></button>
                                    </form>
                                </div>
                                <div class="card-body collapse" style="margin-top:30px" id="collapseEdit">
                                    <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                                        <textarea id="Ecomment" class="form-control" name="comment[text]"><%= comment.text %></textarea>
                                        <p class="mb-0 mt-2">Rating:
                                            <span class="text-primary">
                                                <i class="far fa-star" id="Estar1"></i>
                                                <i class="far fa-star" id="Estar2"></i>
                                                <i class="far fa-star" id="Estar3"></i>
                                                <i class="far fa-star" id="Estar4"></i>
                                                <i class="far fa-star" id="Estar5"></i>
                                            </span>
                                            <span class="ml-2 text-secondary">
                                            <input name="comment[rating]" id="EstarId" style="display:none;width:10px" type="text">
                                            </span>
                                            <span id="EditReset" class="ml-2 btn btn-sm float-right btn-secondary">Reset</span>
                                            <button class="btn btn-sm float-right btn-primary">Submit</button>
                                        </p>
                                    </form>
                                </div>
                            <% } %>
                        </li>
                        
                    <% }) %>
                </ul>
            </div> 
        </div>
        
        
        
        
        
    </div>
</div>


<%- include("../partials/footer") %>